# Lab 3 - Video Game Reviews

In [122]:
from math import nan

In [211]:
import pandas as pd
import numpy as np

## Import Data

In [124]:
df = pd.read_csv('imdb-videogames.csv')

In [125]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [126]:
df.shape

(20805, 17)

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [128]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Clean Data

Clean and Fix Rating

In [129]:
df.rating.replace("*9.0", "9.0", inplace=True)
df.rating = pd.to_numeric( df.rating)
df.rating.mean()

7.0477934838820895

Clean and Fix Votes

In [130]:
df.votes = df.votes.str.replace(',', '')
df.votes = pd.to_numeric(df.votes)
df.votes.mean()

630.9875883468368

In [131]:
df = df.drop('Unnamed: 0', axis=1)

df.columns = ['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot_summary',
       'action', 'adventure', 'comedy', 'crime', 'family', 'fantasy',
       'mystery', 'scifi', 'thriller']

df.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot_summary',
       'action', 'adventure', 'comedy', 'crime', 'family', 'fantasy',
       'mystery', 'scifi', 'thriller'],
      dtype='object')

## Questions

### 1. What is the average rating for Action games?

In [132]:
df[(df['action'] == True)].rating.mean()

7.069257468699641

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [133]:
print('After 2010:', df[(df['year'] > (2010))].rating.mean(), 'Before 2010:', df[(df['year'] <= (2010))].rating.mean())

After 2010: 7.119838056680162 Before 2010: 7.0068224804107

### 3. What games include "Fallout" in their title?

In [ ]:
df[df['name'].str.contains('Fallout')]

### 4. What is the most common certificate for Sci-Fi games?

In [135]:
df[(df['scifi'] == True)].certificate.value_counts()

T            424
M            339
E            185
E10+          94
Unrated       46
K-A           41
Not Rated     29
GA             5
AO             5
MA-13          4
12             3
EC             3
MA-17          1
PG-13          1
G              1
Approved       1
Name: certificate, dtype: int64

### 5. What percent of Thiller games have M or AO certificate?

In [208]:
(df[(df['thriller'] == True) & (df['certificate'] == 'M') | (df['thriller'] == True) & (df['certificate'] == 'AO')].certificate.count() / df[(df['thriller'] == True)].certificate.count()) * 100

62.45353159851301

### 6. What is the mean and median rating for Family games? for Action games?

In [138]:
print('Family Games Mean:',df[(df['family'] == True)].rating.mean(),'  Family Games Median:', df[(df['family'] == True)].rating.median())
print('Action Games Mean:',df[(df['action'] == True)].rating.mean(),'  Action Games Median:', df[(df['action'] == True)].rating.median())

Family Games Mean: 6.686450381679388   Family Games Median: 6.9
Action Games Mean: 7.069257468699641   Action Games Median: 7.2

### 7. Which game from 2018 got the most votes?

In [139]:
k = df[(df['year'] == (2018))].sort_values('votes', ascending=False)
k[['name', 'votes', 'year']]

                                 name    votes    year
15915          Red Dead Redemption II  35709.0  2018.0
1              Red Dead Redemption II  35703.0  2018.0
17763                      God of War  26129.0  2018.0
10003                      God of War  26121.0  2018.0
3                          God of War  26118.0  2018.0
...                               ...      ...     ...
20755  Higurashi no naku koro ni: Hou      NaN  2018.0
20760                   Baptize Billy      NaN  2018.0
20763                        Exapunks      NaN  2018.0
20773                        Viviette      NaN  2018.0
20781                     Nite Team 4      NaN  2018.0

[872 rows x 3 columns]

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [224]:
df.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot_summary',
       'action', 'adventure', 'comedy', 'crime', 'family', 'fantasy',
       'mystery', 'scifi', 'thriller'],
      dtype='object')

In [294]:
games = ['action', 'adventure', 'comedy', 'crime', 'family', 'fantasy',
       'mystery', 'scifi', 'thriller']

for game in games:
    print(game + ':', df[(df[game] == True)].rating.mean())

action: 7.06925746869964
adventure: 7.249463848039215
comedy: 7.189196197061365
crime: 7.3151111111111105
family: 6.686450381679388
fantasy: 7.261732229123534
mystery: 7.451328671328672
scifi: 6.9492544492544495
thriller: 7.107142857142857

### 9. Which year's games received the most votes?

In [256]:
df.groupby(['year'])['votes'].agg(['mean'])

              mean
year
1952.0   22.000000
1962.0   50.000000
1964.0         NaN
1969.0   11.000000
1970.0   12.000000
...            ...
2022.0  266.198198
2023.0         NaN
2024.0         NaN
2025.0         NaN
2027.0         NaN

[61 rows x 1 columns]

### 10. What's the average number of votes for games that are not Action games?

In [143]:
df[(df['action'] == False)].rating.mean()

6.998811881188119

### 11. What games are platformers?

In [ ]:
df[df['plot_summary'].str.contains('platformer')]

### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [210]:
df[(df['rating'] > 8.0) & (df['votes'] > 1000)].certificate.value_counts()

M            363
T            180
E            102
E10+          51
K-A           13
Unrated        1
AO             1
Not Rated      1
Name: certificate, dtype: int64

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [303]:
games = ['action', 'adventure', 'comedy', 'crime', 'family', 'fantasy',
       'mystery', 'scifi', 'thriller']

for game in games:
    print(game +':', df[(df[game] == True) & (df.rating > df.rating.quantile(0.75)) & (df.votes > df.rating.quantile(0.75)) & (df[game])][game].sum())

action: 1835
adventure: 1803
comedy: 290
crime: 201
family: 206
fantasy: 829
mystery: 239
scifi: 381
thriller: 76

### 14. What are the average ratings by year?

In [249]:
df.groupby(['year'])['rating'].agg(['mean'])

            mean
year
1952.0  7.000000
1962.0  6.800000
1964.0       NaN
1969.0  6.950000
1970.0  4.300000
...          ...
2022.0  7.563063
2023.0       NaN
2024.0       NaN
2025.0       NaN
2027.0       NaN

[61 rows x 1 columns]

### 15. For each cerficate, what was the average rating and average number of votes?

In [260]:
df.groupby(['certificate'])['rating','votes'].agg(['mean'])

C:\Users\CooperWhitney\AppData\Local\Temp\ipykernel_3664\3769130309.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['certificate'])['rating','votes'].agg(['mean'])

               rating        votes
                 mean         mean
certificate
12           7.350000    31.375000
AO           6.493333   246.333333
Approved     6.900000    52.333333
CE           5.520000    12.600000
E            7.085637   332.329063
E10+         7.181231   520.265766
EC           6.142857    18.857143
G            5.600000    11.500000
GA           6.531579   165.105263
K-A          6.913089   349.324607
M            7.515584  2498.627557
MA-13        7.080000    83.200000
MA-17        6.000000   165.666667
Not Rated    6.703650   110.759124
PG           5.933333   106.333333
PG-13        6.628571   119.000000
Passed       4.700000    19.000000
T            7.295178   829.020862
TV-14        7.000000   127.000000
TV-MA        7.000000     8.000000
Unrated      6.478222   135.973333